<div class="jumbotron text-center">
    <h1>Indian Movie Information Systtem</h1>
    <p>India is the country which gives the largest number of cinemas to the world
entertainment industry. With the fast growing Indian economy and advancement of globalization,
Indian Cinema is becoming increasingly popular in various countries around the world. More and
more people around the world irrespective of their ethnicity watch and follow Bollywood
movies. Indian Cinema and its culture are vital aspects of South Asian programs, and there has
been a growing interest in the scholarly study of Bollywood and Indian Cinema among the South
Asian diaspora. In recent years movies produced in India have received international attention
and appreciation.
At present limited resources are available as digital sources or over the internet which
can cater to business, academia or research areas on Indian Cinema. Most of this information
pertains to new movies. Old undocumented movies are lost in the dark. Available dataset over
the internet only concentrate on blockbusters, which are by no means exhaustive. There is a
major dearth of digital sources of information on Indian Cinema.
We aim to develop a centralized cloud repository which unifies all available resources and
knowledge about Indian Cinema. We also plan to integrate a smart mobile system which captures
reviews and sentiments of movie enthusiasts. We propose to facilitate the creation of a
comprehensive dataset on Indian Cinema and provide a user-friendly web and mobile interface
to access and add to this information. We plan to use the latest front end technologies like
Angular material, JavaScript and cloud platforms (AWS, Heroku) to host the system.</p>
</div>

