<!-- general -->
  <div class="general">
    <h4 class="latest-text w3_latest_text">Top Grossed Movies</h4>
    <div class="container" ng-controller="moviesTopGrossed" >

              <div class="col-md-2 w3l-movie-gride-agile" ng-repeat="movie in TopGrossedMovies">
                <a ui-sref="Single({movie: movie.Id})" class="hvr-shutter-out-horizontal"><img src="{{movie.PosterPath}}" title="album-name" class="img-responsive" alt=" " />
                  <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                </a>
                <div class="mid-1 agileits_w3layouts_mid_1_home">
                  <div class="w3l-movie-text">
                    <h6><a ui-sref="Single({movie: movie.Id})">{{movie.Title}}</a></h6>              
                  </div>
                  <div class="mid-2 agile_mid_2_home">
                    <p>{{movie.ReleaseYear}}</p>
                    <div class="block-stars">
                      <ul class="w3l-ratings">
                        
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="ribben">
                  <p>NEW</p>
                </div>
              </div>
            <div class="clearfix"> </div>
</div>

    <h4 class="latest-text w3_latest_text">Top 10 Movies</h4>
    {{test}}
    <div class="container" ng-controller="moviesTop" >

              <div class="col-md-2 w3l-movie-gride-agile" ng-repeat="movies in Topmovies">
                <a ui-sref="Single({movie: movie.Id})" class="hvr-shutter-out-horizontal"><img src="{{movies.PosterPath}}" title="album-name" class="img-responsive" alt=" " />
                  <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                </a>
                <div class="mid-1 agileits_w3layouts_mid_1_home">
                  <div class="w3l-movie-text">
                    <h6><a ui-sref="Single({movie: movie.Id})">{{movies.Title}}</a></h6>              
                  </div>
                  <div class="mid-2 agile_mid_2_home">
                    <p>{{movies.ReleaseYear}}</p>
                    <div class="block-stars">
                      <ul class="w3l-ratings">
                        
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                       
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
               
              </div>
            <div class="clearfix"> </div>

        </div>
   <h4 class="latest-text w3_latest_text">Top 10 Female Actors</h4>


          <div class="container" ng-controller="moviesTopFemale" >

              <div class="col-md-2 w3l-movie-gride-agile" ng-repeat="movies in TopFemale">
                <a ui-sref="#" class="hvr-shutter-out-horizontal"><img src="{{movies.ProfilePath}}" title="album-name" class="img-responsive" alt=" " />
                  <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                </a>
                <div class="mid-1 agileits_w3layouts_mid_1_home">
                  <div class="w3l-movie-text">
                    <h6><a ui-sref="Single({movie: movie.Id})">{{movies.Name}}</a></h6>              
                  </div>
                  <div class="mid-2 agile_mid_2_home">
                    <p>{{movies.DateOfBirth}}</p>
                   
          
                  </div>
                </div>
               
              </div>
          </div>


     <h4 class="latest-text w3_latest_text">Top 10 Male Actors</h4>


          <div class="container" ng-controller="moviesTopMale" >

              <div class="col-md-2 w3l-movie-gride-agile" ng-repeat="movies in TopMale">
                <a ui-sref="Single" class="hvr-shutter-out-horizontal"><img src="{{movies.ProfilePath}}" title="album-name" class="img-responsive" alt=" " />
                  <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                </a>
                <div class="mid-1 agileits_w3layouts_mid_1_home">
                  <div class="w3l-movie-text">
                    <h6><a ui-sref="Single">{{movies.Name}}</a></h6>              
                  </div>
                  <div class="mid-2 agile_mid_2_home">
                    <p>{{movies.DateOfBirth}}</p>
                   
          
                  </div>
                </div>
               
              </div>
            






  
<!-- //general -->