<!-- faq-banner -->
	<div class="faq">
		<h4 class="latest-text w3_faq_latest_text w3_latest_text">FAQ</h4>
			<div class="container">
				<div class="panel-group w3l_panel_group_faq" id="accordion" role="tablist" aria-multiselectable="true">

				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
					  <h4 class="panel-title asd">
						<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Do I need to register to use IMIS? Or can I just use as a guest?
						</a>
					  </h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					  <div class="panel-body panel_text">
						Of course, you can use IMIS as a guest access where the user can still be able to browse for the movies and get the needed information. But, however there are certain benefits that are limited to guest users. If a user creates account, we can track the user and reward him with free tickets or so if he gets selected in our lucky pick up scheme. Besides this, guest users would not have access to developer APIs. Hence, its recommended that you subscribe for IMIS!
					  </div>
					</div>
				  </div>
				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
					  <h4 class="panel-title asd">
						<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Do I need to pay for IMIS subscription?
						</a>
					  </h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					   <div class="panel-body panel_text">
						Well, good news is “Its all FREE” including the developer APIs. We would rather provide perks for being with us for considerable amount of time.
					  </div>
					</div>
				  </div>
				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					  <h4 class="panel-title asd">
						<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Does IMIS list only Indian movies?

						</a>
					  </h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					   <div class="panel-body panel_text">
						Yes, we are much focused on developing this application for Indian Movies keeping in mind that, Bollywood is the largest producers of movies in the world and we have very less of this kind of applications that would render all the movies, including the ones that are almost ‘Lost in the dark’.
					  </div>
					</div>
				  </div>
				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFour">
					  <h4 class="panel-title asd">
						<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Are the links provided to developers virus free?

						</a>
					  </h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
					   <div class="panel-body panel_text">
						Yes, they are safe. The data is hosted and is triggered from a well-known cloud platform that would render with all sort of virus checks.

					  </div>
					</div>
				  </div>
				   <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFive">
					  <h4 class="panel-title asd">
						<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Can we contact IMIS team, and what kind of help we may expect from them as a developer?
						</a>
					  </h4>
					</div>
					<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
					   <div class="panel-body panel_text">
						The team is intended to help any start up or collaborate with one, if the goals are directing towards the same destiny. The team would always be available to serve any developers who need any sort guidance or support that IMIS is capable of.  
					  </div>
					</div>
				  </div>
				   <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingSix">
					  <h4 class="panel-title asd">
						<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Is this application available on smart phones as well?
						</a>
					  </h4>
					</div>
					<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
					   <div class="panel-body panel_text">
						Yes, this is compatible with all standard smart phones. The view gets adjusted on its own. However, this has not been placed on google play store or Apple store. That is something the team would be working on in near future.
					  </div>
					</div>
				  </div>
				   <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingSeven">
					  <h4 class="panel-title asd">
						<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>What can a user do if he fails in finding a movie via IMIS?
						</a>
					  </h4>
					</div>
					<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
					   <div class="panel-body panel_text">
						Great question, anytime the user is welcome to provide his input that would be stored in IMIS Db (after proof reading by IMIS team). And if you want to know why should user add information? well it’s for the PERKS!! 😊 (described above)
					  </div>
					</div>
				  </div>
				   <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingEight">
					  <h4 class="panel-title asd">
						<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>How often the pages are update with movie information?
						</a>
					  </h4>
					</div>
					<div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
					   <div class="panel-body panel_text">
						IMIS has huge data set of all most all the Indian movies, talking with respect to the upcoming movies, the information would be updated on the fly as soon as our vendors provide the info and is confirmed as genuine.
					  </div>
					</div>
				  </div>
				   <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingNine">
					  <h4 class="panel-title asd">
						<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>What perks does an IMIS user can expect down the line?
						</a>
					  </h4>
					</div>
					<div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
					   <div class="panel-body panel_text">
						We are going to identify our customer at 3 ranks. However, these ranks are internal to IMIS and are not displayed to users. (This is yet to be implemented as soon as the application goes live based on the user reactions).

						<dl>
						 <p class="text-primary">“Prospective Customer”</p>
						Who is thinking to join IMIS. May have logged into IMIS as guest but not yet subscribed. We would implement a follow up auto generated mails for such customers describing the advantages of growing with us.
						</dl>
						<dl>
						<p class="text-primary">“Budding Customer”</p>
						One of the biggest perk that IMIS budding customer user would get is to movie tickets at discounted prices. With the frequent engagement of the customer and help us build our repository aka crowd source, he would be promoted to next level. 
						</dl>
						<dl>
						<p class="text-primary">“Classified Customer”</p>
						He is a trusted user of IMIS, he would be provided with highest number of perks like, free movie tickets, free developed APIs , frequent updates of ongoing discounts around the city. 
						</dl>
					  </div>
					</div>
				  </div>
				</div>
			</div>
	</div>
<!-- //faq-banner -->