<!-- single -->
<div class="single-page-agile-main">
<div class="container">

		<!-- /w3l-medile-movies-grids -->
			<div class="agileits-single-top">
				<ol class="breadcrumb">
				  <li><a ui-sref="Home">Home</a></li>

				  <li class="active">Single</li>
				</ol>
			</div>

		<div class="single-page-agile-info" ng-controller="movie">
					
                   <!-- /movie-browse-agile -->
              <div class="show-top-grids-w3lagile">
				<div class="col-sm-8 single-left">
					<div class="song">
						<div class="song-info">
		
							<h3>{{Singlemovie.Title}}</h3>	
							
						</div>
						<div class="video-grid-single-page-agileits" ng-model="videoLink" ng-bind-html="videoLink">
							
						</div>
					</div>
					<div class="song-grid-right">
					  <h4> Actors :	<h5 ng-repeat="actor in Actors" style="float:left">  {{actor.Name}},  </h5> </h4>
					</div>
					<br>
					<div class="song-grid-right">
					  <h4> <p> <h4>Description : <h5> {{Singlemovie.Description}} </h5> </p> </h4>
					</div>
					<div class="song-grid-right">
						<div class="share">
							<h5>Share this</h5>
							<div class="single-agile-shar-buttons">
							<ul>
								<li>
									<div class="fb-like" data-href="https://www.facebook.com/w3layouts" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
									<script>(function(d, s, id) {
									  var js, fjs = d.getElementsByTagName(s)[0];
									  if (d.getElementById(id)) return;
									  js = d.createElement(s); js.id = id;
									  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
									  fjs.parentNode.insertBefore(js, fjs);
									}(document, 'script', 'facebook-jssdk'));</script>
								</li>
								<li>
									<div class="fb-share-button" data-href="https://www.facebook.com/w3layouts" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fw3layouts&amp;src=sdkpreparse">Share</a></div>
								</li>
								<li class="news-twitter">
									<a href="https://twitter.com/w3layouts" class="twitter-follow-button" data-show-count="false">Follow @IMIS</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
								</li>
								<li>
									<a href="https://twitter.com/intent/tweet?screen_name=w3layouts" class="twitter-mention-button" data-show-count="false">Tweet to @IMIS</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
								</li>
								<li>
									<!-- Place this tag where you want the +1 button to render. -->
									<div class="g-plusone" data-size="medium"></div>

									<!-- Place this tag after the last +1 button tag. -->
									<script type="text/javascript">
									  (function() {
										var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
										po.src = 'https://apis.google.com/js/platform.js';
										var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
									  })();
									</script>
								</li>
							</ul>
						</div>
						</div>
					</div>
					<div class="clearfix"> </div>

					<div class="all-comments" ng-if="reviewstatus">
						
						<div class="media-grids">
							<div class="media" ng-repeat="review in reviews">
								<h5>{{review.username}}</h5>
								<div class="media-left">
									<a href="#">
										<img src="images/user.jpg" title="One movies" alt=" " />
									</a>
								</div>
								<div class="media-body">
									<p>{{review.comment}}</p>
									<span>View all posts by :<a href="#"> Admin </a></span>
								</div>
							</div>
							
							

						</div>
					</div>


		<div class="all-comments">
            <div class="panel-group w3l_panel_group_faq" style="width: 60%;"id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title asd">
                    <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Update the Detials - Crowd Source
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="all-comments-info">

                    <div class="agile-info-wthree-box">
                      <form>
                        <input type="text" placeholder="Title" required="">
                        <input type="text" placeholder="Director" required="">
                        <input type="text" placeholder="Actors" required="">
                        <textarea placeholder="Description" required=""></textarea>
                        <input type="submit" value="SEND">
                        <div class="clearfix"> </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title asd">
                    <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Wite a Review
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="all-comments">
                    <div class="all-comments-info">
                      <a href="#">Comments</a>
                      <div class="agile-info-wthree-box">
                        <form>
                          <input type="text" placeholder="Name" required="" ng-model="review.name">
                          <input type="text" placeholder="Email" required="" ng-model="review.email">
                          <input type="text" placeholder="Phone" required="" ng-model="review.phone">
                          <textarea placeholder="Message" required="" ng-model="review.message"></textarea>
                          <input type="submit" value="SEND" ng-click="submitReview(Singlemovie.Id)">
                          <div class="clearfix"> </div>
                        </form>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>



			
					
				</div>
				<div class="col-md-4 single-right" ng-controller="moviesUpcoming">
					<h3>Up Next</h3>
					<div class="single-grid-right" ng-repeat="movie in Upcomingmovies | limitTo:6">
						<div class="single-right-grids">
							<div class="col-md-4 single-right-grid-left">
								<a ui-sref="Single({movie: movie.Id})"><img src="{{movie.PosterPath}}" alt="" /></a>
							</div>
							<div class="col-md-8 single-right-grid-right">
								<a ui-sref="Single({movie: movie.Id})" class="title"> {{movie.Title}}</a>
								<p class="author"><a href="#" class="author">{{movie.ReleaseDate}}</a></p>
								<p class="views">{{movie.CensorRating}}</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						
			
						

					</div>
				</div>
				

				
				<div class="clearfix"> </div>


			</div>
				<!-- //movie-browse-agile -->
		
							 
	</div>

				<!-- //w3l-latest-movies-grids -->

				
	<!-- //w3l-medile-movies-grids -->